.seat-main{
    border: 1px solid #ccc;
    padding-bottom: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 6px;
}
.seat-legend-main{
  float: right;
}
.seat-legend{
  list-style-type: none;
}
li.seat-legend-item> img{
  width: 10%;
}
.seats{
  float: left;
  background-image: url("http://bus.com.ng/img/bus_bg.png");
    float: left;
    height: 330px;
    width: 600px;
    padding: 0px;
}
.seat-list{

    list-style-type: none;
    margin: 20px;
    padding: 0;
    margin-bottom: 0;
}

.seat-list-item {
    display: inline;
    padding: 10px 5px;
    margin-right: 2px;
    margin-left: 2px;
  }

li.seat-list-item> img{
  width: 5%;
}
.seat-selected{
  /*background: green;*/
  /*color: white;*/
}
.occupied{
  /*background: red;*/
  /*color: white;*/
}
.empty{
  /*background: yellow;*/
  padding: 10px 23px;
}