body{
	background:white !important;
}
header{
	width: 100%;
	height: auto;
	padding-bottom:1% !important;
	border-bottom: 2px solid orange !important;
}

.logo{
	margin-top:-1%;
}

#nav{
	margin-top:3%;
	font-family: 'Asap', sans-serif;
	color:#333;
	font-size: 19px;
	background: none !important;
	font-weight: bold;
}

.navbar-default {
    background-color: none !important;
    border-color: none !important;
}

#main-content{
	margin-bottom:5%;
}

.icon-links{
	background: #333;
	height: 90px;
	border-radius: 10px;
}

.search-body{
	background:white/* url('../img/search-bg.jpg') */!important ; 
}

#icon-box{
	width: 100%;
	height: auto;
	background: white;
}

#searchdetails-box{
	width: 100%;
	height: auto;
	background: #f12e0e;
	color:white;
	font-family: 'Montserrat', sans-serif;
	padding: 1%;
}

#paydetails-box{
		width: 100%;
	height: auto;
	background: #fff;
	color:#505050;
	font-family: 'Montserrat', sans-serif;
	padding: 1%;
	border-bottom:2px solid #999;
}

#paydetails-box h1{
	font-size: 29px;
font-weight: bolder;
padding-bottom: 10px;
}

#paydetails-box h2{
	margin-top: 1%;
}

#paydetails-box p{
	margin-top: 1%;
	font-size: 14px;
	color:#696969;
}


#paydetails-box2{
		width: 100%;
	height: auto;
	background:url('../img/thankubg.jpg') top center;
	color:#505050;
	font-family: 'Montserrat', sans-serif;
	padding: 1%;
	border-bottom:2px solid #999;
}

#paydetails-box2 h1{
	font-size: 29px;
font-weight: bolder;
padding-bottom: 10px;
}

#paydetails-box2 h2{
	margin-top: 1.5%;
	font-size: 24px;
}

#paydetails-box2 p{
	margin-top: 4%;
	font-size: 18px;
	color:#696969;
	margin-bottom:1.5%;
	border-bottom: 1px solid #ccc;
	padding-bottom:2%;
}



#searchdetails-box h2{
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;

}

#searchdetails-box h2{
	font-size: 27px;
	font-family: 'Montserrat', sans-serif;
}

#searchdetails-box p{
	font-size: 20px;
}

#search-result-box{
	width: 100%;
	height: 400px;
	margin-top:3%;
}
.pass-d{
	 float:left;
	font-size: 16px;
	 margin-top:1%
}

.modify-src{
	float: right;
	padding: 3% 9% !important;
margin-top: 6%;
font-size: 17px !important;
font-family: 'Muli', arial !important;
font-weight: bolder;
}

#box-aval{
	width: 100%;
	height: auto;
	background: #f3f3f3;
	font-family: 'Cantarell', sans-serif;
	color: #333;
	border-bottom: 1px solid #b8b8b8;
	font-size: 23px;
	padding: 1.3%;
}

#boxdheader{
	width: 100%;
	height: 50px;
	background: #e5e5e5;
}

.bus-result{
	float: left;
	width: 100%;
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-bottom: 2%;
	padding-top: 2%;
	background:white;
	
}

.bus-result:nth-child(even){
	background: #eee;
}

.bs-d{
	
	color:#222;
	font-family: 'Lato', arial;
	font-size: 18px;
}

.bs-d h2{
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin-top: 6%;
	color:#333;
}

.bs-d p{
	float: left;
	font-family: 'Lato', arial;
	font-size: 15px;
	margin-top: 1%;
	color: #333;
}

.be-img{
	float: left;
	width: 25%;
	padding-right:3%;
}

.vsb{
	font-size: 16px !important;
	padding: 4% 20% !important;
	margin-top: 5%;
}

.clogo{
	margin-top:5%;
}

#payment-d{
	width: 100%;
	height: auto;
	background: #f3f3f3;
	padding-bottom: 5%
}

.p-details{
	width: 100%;
	min-height: 400px;
	background: white;
	margin-top: 5%;
	border-bottom: 4px solid orange;
	border-top: 4px solid #ddd;
	padding:2%;
}

.p-details p{
	font-family: 'Cantarell', sans-serif;
	color:#1d407b;
}

.p-details h2{
	font-size: 20px;
	font-family: 'Cantarell', sans-serif;
	color:#17407f;
	padding-bottom: 2%;
	border-bottom: 1px solid #eee;
	margin-bottom: 1%;
}

.p-details h3{
	font-size: 14px;
	font-family: 'Cantarell', sans-serif;
	color:red;
}

.p-details input{
	padding: 0 2%;
	margin-top:2%;
	width: 90%;
	font-family: 'Cantarell', sans-serif;
	color:#333;
}

.p-details select{
	/*padding:2%;*/
	margin-top:2%;
	width: 90%;
	font-family: 'Cantarell', sans-serif;
	color:#333;
}

.p-details label{
font-size: 14px;
	font-family: 'Cantarell', sans-serif;
	color:#717171;
}

#h-side{
	float: left;
width: 100%;
	font-family: 'Lato', arial;
	color:#333;

	height: auto;
	margin-top:3%;
	padding: 2%

}

#h-side ul li{
	float: left;
	margin-left: 2.5%;

}

.n-num{
	float: left;
margin-top: 0.5%;
font-size: 20px;
font-weight: bolder;
}

.c-d{
	height: 200px;
	border-radius: 5px;
	border:1px solid #333;
	width: 100%;
	border-top:4px solid orange;
}

.c-d{
	height: 200px;
	border-radius: 5px;
	border:1px solid #ccc;
	width: 100%;
	border-top:4px solid orange;
}

.ty-box{
	height: auto;
	background: white;
	padding: 7%;
	margin:0 auto;
	border-top:3px solid #ccc;
	border-bottom:3px solid orange;
	font-family: 'Asap', sans-serif;
}

.t-dc{
	background:#2ecc71;
	padding: 1.5%;
	color:white;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;

}


footer{
	width: 100%;
	height: auto;
	background: #393939;
	margin-top:8%;
	padding: 2% !important;
	font-family: 'Asap', sans-serif!important;;
	font-size: 14px;
	color:#ccc;
}

footer p{
	float:left;
}

footer ul li{
padding-top: 2%;
    float: left;
    padding-right: 3%;
    font-size: 20px;
    padding-bottom: 15px;
}

footer h2{
	font-family: 'Asap', sans-serif!important;;
	font-size: 25px;
	color:white;
	margin-top: 1.5% !important;
}

