/*YOUR CUSTOM STYLES*/
.faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
       /* font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */*/
        float: right;
        color: #ee0000;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
.panel-title > a {
	font-weight: 400;

	}
.panel-title >a:hover{
	color: #ee0000;
}

.tag-line{
	color: #e60300;
    font-weight: 800;
    margin-top: 30px;
}
.cta-button{
	margin: 0 auto;
    padding: 5px 12px;
    background: #ee0000;
    border-radius: 4px;
    color: #fff !important;
}
.btn-social{
    margin: 10px 0 10px;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float: left !important;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.remove-icon, .remove-infant{
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 2px 4px;
    color: #ee0000;
}

.navbar-toggle {
    background-color: red;
    border: 1px solid red;
}
.icon-bar{
    background: #fff;
}
.emphasize-it{
    color: green !important;
    font-weight: 600;
}
.highlight-first{
    border: 1px solid red !important;
}

.booking-item-dates-change {
    border: 1px solid #f5f5f5;
}
